# require: notify-send; libreoffice
#
# Calogero Scarnà 2024
#
# info@codelinsoft.it
# Version 1.1
#

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/pdf;
Icon=application-pdf
Actions=odt;word;odp;powerpoint;jpg;png;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Convert pdf to

[Desktop Action odt]
Name=ODT
Icon=/usr/share/icons/convert_pdf/odt.png
#Converti senza importare il nome, con output con lo stesso nome
Exec=soffice --infilter="writer_pdf_import" --convert-to odt  %f %f;/usr/bin/notify-send -u critical --app-name="Convert ODT" --icon="/usr/share/icons/convert_pdf/odt.png" "Convert ODT successfully" "$(basename %f)"


[Desktop Action word]
Name=WORD 2007/365
Icon=/usr/share/icons/convert_pdf/word_2007.png
Exec=soffice --infilter="writer_pdf_import" --convert-to docx:"MS Word 2007 XML"  %f %f;/usr/bin/notify-send -u critical --app-name="Convert WORD 2007/365" --icon="/usr/share/icons/convert_pdf/word_2007.png" "Convert WORD 2007/365 successfully" "$(basename %f)"

[Desktop Action odp]
Name=ODP
Icon=/usr/share/icons/convert_pdf/odp.png
#Converti senza importare il nome, con output con lo stesso nome
Exec=soffice --infilter="impress_pdf_import" --convert-to odp  %f %f;/usr/bin/notify-send -u critical --app-name="Convert ODP" --icon="/usr/share/icons/convert_pdf/odp.png" "Convert ODP successfully" "$(basename %f)"

[Desktop Action powerpoint]
Name=POWERPOINT 2007/365
Icon=/usr/share/icons/convert_pdf/powerpoint_2007.png
Exec=soffice --infilter="impress_pdf_import" --convert-to pptx:"Impress MS PowerPoint 2007 XML"  %f %f; /usr/bin/notify-send -u critical --app-name="Convert POWERPOINT 2007/365" --icon="/usr/share/icons/convert_pdf/powerpoint_2007.png" "Convert POWERPOINT 2007/365 successfully" "$(basename %f)"

[Desktop Action jpg]
Name=JPEG
Icon=/usr/share/icons/convert_pdf/icon_jpg.png
#Converti senza importare il nome, con output con lo stesso nome
Exec=pdftoppm -jpeg %f %f; /usr/bin/notify-send -u critical --app-name="Convert JPEG" --icon="/usr/share/icons/convert_pdf/icon_jpg.png" "Convert JPEG successfully" "$(basename %f)"


[Desktop Action png]
Name=PNG
Icon=/usr/share/icons/convert_pdf/icon_png.png
Exec=pdftoppm -png %f %f; /usr/bin/notify-send -u critical --app-name="Convert png" --icon="/usr/share/icons/convert_pdf/icon_png.png" "Convert PNG successfully" "$(basename %f)"
